@import 'partials/base';


.navigation{
display: flex;
justify-content: space-around;

}


.hero{
background-color: white;
align-items: center;
.hero-content{
    flex-direction: column;
    h1{
        align-content: center;
    }
    p{
        align-content: center;
    }
}
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebar{
    background-color: white;
}


.mixed-layout{
background-color: white;
display: flex;
flex-direction: row;
.first{
    p{
        flex-grow: 1;
    }
    }
.second{
    flex-grow: 2;
    }
}


// .first{
//     flex-grow: 1;
//     }

// .second{
//     flex-grow: 3;
//         }