@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';

body{
padding: 2em;

}

.flex-container {
div{
@include bordered-box ();
}

}

.blue{
background-color: navy; 
}

.tomato{
background-color: tomato;
}

.green{
background-color: green;
}

